@model IEnumerable<MyProject.Models.Kisi>
@{
    ViewBag.Title = "Kullanıcı Listesi";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Oluşturma Sayfası</title>
    <link href="~/Content/css/font.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <style>
        #kullanici {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #kullanici td, #kullanici th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #kullanici tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #kullanici tr:hover {
                background-color: #4CAF50;
            }

            #kullanici th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #8c938d;
                color: white;
            }
    </style>
</head>
<body>
   
    <div class="container">
        <div class="bg_wrapper">
            <h1> Kullanıcı Listesi</h1>
           
        </div>
        <table id="kullanici">
            <tr>
                <th>Ad Soyad</th>
                <th>Email</th>
                <th>Yaş</th>
                <th>Adres</th>
                <th>Telefon No</th>
                <th>Parola</th>
                <th>DİĞER İŞLEMLER</th>

            </tr>
            <tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdSoyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Konum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parola)
                    </td>
                    <td>                       
                        <a class="btn btn-danger" href="@Url.Action("ListedenKullaniciSil", new { id = item.ID })"><i class="fa fa-trash" aria-hidden="true"></i> Sil</a>
                    </td>
                </tr>
            }
                

            </table>
        </div>
    </body>
</html>

